@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow-y: auto;
  min-height: max-content;
  height: 100vh;
}

.main_container {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
  transition: all ease 0.5s;
}

.checkbox {
  height: 25px;
  width: 25px;
  background-color: hsl(237, 14%, 26%);
  border: 1px solid hsl(234, 11%, 52%);
  border-radius: 50%;
}

.container, .row_wrapper {
  height: 100%;
}

.row_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;
}

.col_wrapper {
  max-width: 700px;
  height: 700px;
  width: 550px;
}
.col_wrapper .header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.col_wrapper .header_wrapper .theme_image {
  height: 30px;
  width: 30px;
  transition: all ease 0.3s;
  background: url("/images/icon-sun.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.col_wrapper .header_wrapper .changeThemeImage {
  background: url("/images/icon-moon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.col_wrapper .header_wrapper h3 {
  color: hsl(234, 39%, 85%);
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 10px;
}
.col_wrapper .create_new_todo {
  background-color: hsl(237, 14%, 26%);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.col_wrapper .create_new_todo input[type=text] {
  width: 94%;
  height: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: hsl(234, 39%, 85%);
  background-color: hsl(237, 14%, 26%);
}
.col_wrapper .create_new_todo_light {
  background-color: #fff;
}
.col_wrapper .create_new_todo_light input[type=text] {
  background-color: #fff;
}
.col_wrapper .show_created_todo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 40px;
  height: 80%;
  background-color: hsl(237, 14%, 26%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.col_wrapper .show_created_todo .all_todos {
  width: 100%;
  height: 100%;
  padding-left: 0;
  overflow-y: auto;
}
.col_wrapper .show_created_todo .all_todos li {
  padding: 10px;
  height: 70px;
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(234, 11%, 52%);
}
.col_wrapper .show_created_todo .all_todos li span {
  color: hsl(234, 39%, 85%);
  margin-left: 10px;
  font-size: 1.5rem;
}
.col_wrapper .show_created_todo .all_todos li .todoListColor {
  color: hsl(237, 14%, 26%);
}
.col_wrapper .show_created_todo .all_todos li .close {
  display: none;
  cursor: pointer;
}
.col_wrapper .show_created_todo .all_todos li:hover .close {
  display: block;
}
.col_wrapper .VeryLightGrayishBlue {
  background-color: #fff;
}

.checkbox_icon {
  position: relative;
  padding-left: 40px;
}
.checkbox_icon::before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  transition: all ease 0.3s;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid hsl(234, 11%, 52%);
  transition: background ease 0.2s;
}
.checkbox_icon::after {
  position: absolute;
  content: "";
  height: 35px;
  transition: background ease 0.2s;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
  left: 0px;
  z-index: 999;
}
.checkbox_icon:hover {
  cursor: pointer;
}
.checkbox_icon:hover::before {
  border: 1px solid hsl(236, 33%, 92%);
}

.checkbox_icon_checked::before {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.checkbox_icon_checked::after {
  background: url("/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ span {
  text-decoration: line-through;
}

.todo_details {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  color: hsl(234, 11%, 52%);
}
.todo_details .btnStyle {
  background-color: transparent;
  transition: color ease-in-out 0.3s;
  border: none;
  outline: none;
  color: hsl(234, 11%, 52%);
}
.todo_details .btnStyle:hover {
  color: hsl(220, 98%, 61%);
}
.todo_details .filter {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.todo_details .filter input {
  visibility: hidden;
}

.veryWhiteColorBackground {
  background-color: hsl(0, 0%, 98%);
  background: url("/images/bg-desktop-light.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  body {
    height: 900px;
  }
  .main_container {
    background: url("/images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: hsl(235, 21%, 11%);
    transition: all ease 0.5s;
  }
  .changeBackgroundInMobileLight {
    background: url("/images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  .todo_details .filter {
    position: absolute;
    bottom: -80px;
    left: 0;
    border-radius: 10px;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(237, 14%, 26%);
  }
  .todo_details .filter_mobile {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}